<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc</title>
</head>


<style>

</style>



<body>
    <h1>Hello World</h1>

    <form>
<textarea rows = "5" cols = "80" name = "text">
</textarea><br>
        <input type="submit" value="Count words">
        <input type="submit" value="Count characters"> <br><br><br>

        <input type="text" placeholder="Word to find">
        <input type="submit" value="Find">
     </form>
    
</body>
</html>